version: "3.8"

services:
  php:
    build: ./backend
    ports:
      - "3002:3000"
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
